* {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
/* this is the start of my css stylesheet for code quiz */
/* This is the header style */
h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif,;
    font-size: 100px;
    color:rgb(23, 172, 226);
}

/* This is the Question Header style */
.card-header {
    font-size: 60px;
}


/* This is the card style  */
.card {
    text-align: center;
    display: flex;
    flex-direction:column;
}

.hidden {
    display: none;
}

/* This is the button style */
#button1, #button2, #button3, #button4 {
    font-size: 50px; 
    border-radius: 6px;
    border-color: blue; 
}

/* This is the start button style */
#startButton {
    font-size: 50px;
    border-radius: 6px;
}

/* This is the footer style */
#footer {
    font-size: 25px;
}